html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 2.4;
  font-family: "Roboto", sans-serif;
}

/* ******* Typography ******** */
h1 {
  font-size: 3.9rem;
  line-height: 7rem;
  font-family: "Piazzolla", serif;
  font-weight: 700;
  color: orangered;
}

h2 {
  font-size: 3.125rem;
  line-height: 4.8rem;
  font-family: "Piazzolla", serif;
  font-weight: 400;
}

h3 {
  font-size: 2.5rem;
  line-height: 4.8rem;
}

p {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: rgb(223, 7, 7);
}

.flex {
  display: flex;
  justify-content: space-between;
}

svg.top-icon {
  width: 5rem;
  height: auto;
  fill: #fff;
  margin: 1rem;
}

svg.hamburger {
  width: 4.5rem;
  height: auto;
  fill: #fff;
  margin: 1rem;
}

header {
  background-color: #263b5c;
  overflow: hidden;
}

header nav {
  max-height: 0;
  background-color: #263b5c;
  transition: ease-in-out 0.5s;
}

nav.show-nav {
  max-height: 60rem;
  transition: ease-in-out 0.5s;
}

header ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
}

nav li {
  border-bottom: 1px solid #fff;
  padding: 1rem;
}

.profile-banner {
  background-image: url(../img/small/waterfall-3723422_1024.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 68rem;
  display: grid;
  color: #fff;
  padding: 2.5rem;
  grid-template-rows: 3fr repeat(4, 1fr);
  grid-row-start: 2;
}

.profile-banner h2 {
  align-self: end;
}

.search-bar {
  width: 100%;
  height: 5rem;
  color: #5e5e5e;
  background-color: white;
  border-radius: 0.5rem;
  margin: 2.5rem 0;
  display: flex;
  align-items: center;
  grid-row: 3 / 4;
}

svg.search-icon {
  width: 3.5rem;
  color: #5e5e5e;
  margin: 0.5rem;
}

a.reward {
  font-weight: bold;
  text-decoration: underline;
}

.box {
  width: 100%;
  height: 48rem;
  background-color: #263b5c;
  margin: 2.5rem 0;
  color: #fff;
}

.svg-container {
  width: 100%;
  height: 20rem;
  background-color: #fdf9f4;
  display: flex;
  justify-content: center;
}

.svg-container svg {
  width: 17rem;
}

.box div:last-of-type {
  padding: 2rem;
}

.test {
  background-color: #fdf9f4;
  padding: 2rem;
  font-family: "Piazzolla", serif;
  color: #2c3e5b;
}

.test h3 {
  font-family: "Roboto", sans-serif;
}

.test p {
  color: #2c3e5b;
  font-weight: bold;
}

section.keyword {
  display: grid;
}

.keyword h3 {
  color: #263b5c;
  text-align: center;
}

section.keyword > div {
  width: 100%;
  height: 30rem;
  color: #fff;
  font-family: "Piazzolla", serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.technology,
.landscape,
.design,
.things,
.fashion,
.people,
.cityscapes,
.cooking,
.animals,
.nature {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.landscape {
  background-image: url(../img/small/blue-landscape.jpg);
}

.things {
  background-image: url(../img/small/arash-asghari-AYAZnkZWkb4-unsplash.jpg);
}

.fashion {
  background-image: url(../img/small/elegant-red-formal-fashion.jpg);
}

.people {
  background-image: url(../img/small/four-friends.jpg);
}

.design {
  background-image: url(../img/small/dark-wall-bedside-table.jpg);
}

.technology {
  background-image: url(../img/small/daniel-korpai-HyTwtsk8XqA-unsplash.jpg);
}

.cooking {
  background-image: url(../img/small/ramen-noodles-kitchen-and-cooking.jpg);
}

.cityscapes {
  background-image: url(../img/small/josh-rose-9YQGFzg0RiM-unsplash.jpg);
}

.animals {
  background-image: url(../img/small/dog-paws.jpg);
}

.nature {
  background-image: url(../img/small/standing-in-woods.jpg);
}

.stat {
  background-color: #f9f8f7;
  text-align: center;
}

footer {
  padding: 2.5rem;
  margin: 2.5rem auto;
  color: #8b8b8b;
}

@media only screen and (min-width: 750px) {
  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav ul li {
    border-bottom: none;
  }

  .banner {
    padding: 5rem;
  }

  .search-box {
    width: 70%;
  }

  .box div:last-of-type {
    padding: 5rem;
  }

  .test {
    padding: 5rem;
    display: flex;
    margin-bottom: 2.5rem;
  }

  section.keyword {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2.5rem;
  }

  .keyword h3 {
    grid-column: 1 / -1;
    margin-bottom: 2.5rem;
    align-self: start;
    width: 33%;
  }

  section.stat {
    padding: 2.5rem;
  }

  footer {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header nav {
    max-height: 30rem;
  }

  .main-container {
    max-width: 1500px;
    margin: 0 auto;
  }

  .banner {
    padding: 2rem;
  }

  svg.hamburger {
    display: none;
  }

  section.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem;
    gap: 2.5rem;
  }
  .stat h3 {
    grid-column: 1 / -1;
    width: 10%;
    align-self: start;
    color: #263b5c;
  }
  nav ul li {
    margin: 2rem;
  }

  .box {
    margin: 0;
  }

  .test {
    justify-content: space-around;
  }

  section.stat {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 2.5rem;
  }

  section.keyword {
    grid-template-columns: repeat(5, 1fr);
  }

  .banner {
    background-image: url(../img/large/waterfall-3723422_1920.jpg);
  }

  .landscape {
    background-image: url(../img/large/blue-landscape.jpg);
  }

  .things {
    background-image: url(../img/large/arash-asghari-AYAZnkZWkb4-unsplash.jpg);
  }

  .fashion {
    background-image: url(../img/large/elegant-red-formal-fashion.jpg);
  }

  .people {
    background-image: url(../img/large/four-friends.jpg);
  }

  .design {
    background-image: url(../img/large/dark-wall-bedside-table.jpg);
  }

  .technology {
    background-image: url(../img/large/daniel-korpai-HyTwtsk8XqA-unsplash.jpg);
  }

  .cooking {
    background-image: url(../img/large/ramen-noodles-kitchen-and-cooking.jpg);
  }

  .cityscapes {
    background-image: url(../img/large/josh-rose-9YQGFzg0RiM-unsplash.jpg);
  }

  .animals {
    background-image: url(../img/large/dog-paws.jpg);
  }

  .nature {
    background-image: url(../img/large/standing-in-woods.jpg);
  }
}

@media only screen and (min-width: 1400px) {
  header {
    justify-content: space-evenly;
  }

  .flex {
    margin-left: 0;
  }

  nav ul li {
    margin-right: 5rem;
  }
}
